<main class="login-wrapper">
  <section class="login-card">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">Email</label>
      <input id="username" type="email" formControlName="username" />

      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />

      <button type="submit">Log in</button>
    </form>

    <p class="signup-text">
      Don’t have an account? <a (click)="goToRegister()">Sign Up</a>
    </p>
  </section>
</main>
